<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<servlet>
		<servlet-name>CookieTest</servlet-name>
		<servlet-class>com.example.CookieTest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CookieTest</servlet-name>
		<url-pattern>/CookieTest.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckCookie</servlet-name>
		<servlet-class>com.example.CheckCookie</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckCookie</servlet-name>
		<url-pattern>/CheckCookie.do</url-pattern>
	</servlet-mapping>
</web-app>
